{% extends 'partial/base.html' %}
{% block title %} VENDOR PAGE {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partial/topnav_staff.html'%}
<div style="margin-left:290px;margin-right:20px">
    <div class="row my-4">
        {% comment %} <div class="col-md-4">
        </div> {% endcomment %}
        <div class="col-md-8">
			<table cellpadding="0" cellspacing="0" border="0">
				<thead class="tbl-header">
				<tr>
					<th scope="col">Date</th>
					<th scope="col">PO_NO</th>
					<th scope="col">Net_Amount</th>
					<th>Staus</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
					{% for sales_order in sales_orders %}
					<tr>
						<td>{{ sales_order.date }}</td>
						<td>{{ sales_order.so_number }}</td>
						<td>{{ sales_order.net_amount }}</td>
						{% if sales_order.status == True %}
							<td><span class="badge badge-pill badge-info">Bill Closed</span></td>
						{% else %}
							<td></td>
						{% endif %}
						<td><a href="{% url 'payment_sales_order' sales_order.customer_name sales_order.id %}">View</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
            
		</div>
		<div class="col-md-4">
			<div class="text-right">
                <h5>CustomerID:<span class="badge badge-pill badge-primary">{{current_customer_id}}</span></h5>
                <h5>CustomerName:<span class="badge badge-pill badge-primary">{{current_customer_name}}</span></h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}