{% extends 'partial/base.html' %}
{% block title %} SALES PAGE {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated and user.is_superuser %}

{% else %}
{% include 'partial/topnav_staff.html'%}

<script></script>
<div style="margin-left:270px;margin-right: 12px">
    <div class="row my-4">
        <div class="col-md-1">
            <form method = "POST">
                {% csrf_token %}
                {{form|crispy}}
                <input class="btn btn-success btn-block" data-backdrop="static" type="submit" value="Add">  
                {% comment %} <a class="btn btn-danger btn-sm" href="{% url 'purchase_add' %}">Add <i class="fa fa-plus"></i></a {% endcomment %}
            </form>
        </div>
        <div class="col-md-11">
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                  <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">SO_number</th>
                      <th scope="col">Customer_name</th>
                      <th scope="col">Gross_amount</th>
                      <th scope="col">Discount</th>
                      <th scope="col">Net_Amount</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                </table>
              </div>
              <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                    {% for sales_order in sales_orders %}
                      <tr>
                        <td>{{ sales_order.date }}</td>
                        <td>{{ sales_order.so_number }}</td>
                        <td>{{ sales_order.customer_name }}</td>
                        <td>{{ sales_order.gross_amount }}</td>
                        <td>{{ sales_order.discount }}</td>
                        <td>{{ sales_order.net_amount }}</td>
                        <td><a href="{% url 'sales_view' sales_order.id %}">View</a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
        </div>
    </div>
</div
{% endif %}




{% endblock %}