{% extends 'partial/base.html' %}
{% block title %} Sales Order Confirm PAGE {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container bg-white">
    <div class="row mt-5">
        {% comment %} <div class="col-md-6 offset-md-3">{% endcomment %}
            <div class="border bg-white p-3">
                <table cellpadding="0" cellspacing="0" border="2">
                    <thead>
                      <tr>
                        <th scope="col">ItemID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Unit_Price</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for sales_order_individal in sales_order_individals %}
                      <tr>
                        <td>{{ sales_order_individal.item_id }}</td>
                        <td>{{ sales_order_individal.item_name }}</td>
                        <td>{{ sales_order_individal.quantity }}</td>
                        <td>{{ sales_order_individal.unit_price }}</td>
                        <td>{{ sales_order_individal.total_amt }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
                <table>
                    <form method="POST">
                        {% csrf_token %}
                        
                        <tr>
                            <td><label>Gross Total</label></td>
                            <td><input type="text" name="g_amount" value="{{total_amt}}" /><td />
                        </tr>
                        <tr>
                            <td><label>Discount</label></td>
                            <td><input type="number" name="discount" /></td>
                        </tr>
                        <tr>
                            <td><input class="btn btn-success btn-block" data-backdrop="static" type="submit" value="Confirm"></td>
                        </tr>   
                    </form>
                  
                </table>
                {% comment %} <div class="text-right">
                    <a class="btn btn-info text-right" href="{% url 'report_pdf' current_po_number %}">Print<span class="sr-only">(current)</span></a>
                </div>      {% endcomment %}
           </div>
        {% comment %}  </div> {% endcomment %}
    </div>
</div>
{% endblock %}