{% extends 'partial/base.html' %}
{% block title %} PURCHASE PAGE {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partial/topnav_staff.html'%}

<div class="mx-5">
	<div class="row my-4">
        <div class="col-md-4">
			
		</div>
		<div class="col-md-8">
      <div class="text-right">
        {% comment %} <h4>Purchase Order:<span class="badge badge-pill badge-primary">{{current_po_number}}</span></h4> {% endcomment %}
        {% comment %} <h4>Vendor:<span class="badge badge-pill badge-primary">{{current_vendor_id1}}</span></h4> {% endcomment %}
      </div>
			<div class="tbl-header">
				<table cellpadding="0" cellspacing="0" border="0">
				  <thead>
					<tr>
					  <th scope="col">ItemID</th>
					  <th scope="col">Name</th>
					  <th scope="col">Qty</th>
					  <th scope="col">Unit_Price</th>
					  <th scope="col">Total</th>	
					  {% comment %} <th scope="col"></th>
					  <th scope="col"></th> {% endcomment %}
					</tr>
				  </thead>
				</table>
			  </div>
			  <div class="tbl-content">
				<table cellpadding="0" cellspacing="0" border="0">
				  <tbody>
					{% for purchase_order_view in purchase_order_views %}
					<tr>
					  <td>{{ purchase_order_view.item_id }}</td>
					  <td>{{ purchase_order_view.item_name }}</td>
					  <td>{{ purchase_order_view.quantity }}</td>
					  <td>{{ purchase_order_view.unit_price }}</td>
					  <td>{{ purchase_order_view.total_amt }}</td> 
					  {% comment %} <td scope="row"><a class="btn btn-info btn-sm" href="{% url 'purchaseditem_update' purchased_item.id %}">Edit</a></td>
					  <td scope="row"><a class="btn btn-danger btn-sm" href="{% url 'purchaseditem_delete'  purchased_item.id %}">Delete</a></td> {% endcomment %}
					</tr>
					{% endfor %}
				  </tbody>
				</table>
				<div class="text-right">
					<label>Gross Total</label>
					<span>{{total_amt}}</span><br />
					<label>Discount</label>
					<span>{{discount}}</span><br />
					<label>Net Amount</label>
					<span>{{net_amt}}</span><br />
					{% comment %} <label>Discont</label>
					<span>{{d}}</span><br />
					<label>Net_Amount</label>
					<span>{{net}}</span> {% endcomment %}
				</div>
			  </div>
			  <div class="text-right">
				<a class="btn btn-info text-right" href="{% url 'report_pdf'  current_purchase_orderid %}">Print<span class="sr-only">(current)</span></a>
			</div>  
		</div>
	</div>
</div>


{% endblock %}