{% extends 'partial/base.html' %}
{% block title %} PURCHASE PAGE {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partial/topnav_staff.html'%}

<div class="mx-5">
	<div class="row my-4">
        <div class="col-md-4">
			<form method="post">
				{% csrf_token %}
				{{form|crispy}}
				<input class="btn btn-success btn-block" data-backdrop="static" type="submit" value="Add">  
			</form>
		</div>
		<div class="col-md-8">
      <div class="text-right">
        <h4>Purchase Order:<span class="badge badge-pill badge-primary">{{current_po_number}}</span></h4>
        <h4>Vendor:<span class="badge badge-pill badge-primary">{{current_vendor_id1}}</span></h4>
      </div>
			<div class="tbl-header">
				<table cellpadding="0" cellspacing="0" border="0">
				  <thead>
					<tr>
					  <th scope="col">ItemID</th>
					  <th scope="col">Name</th>
					  <th scope="col">Qty</th>
					  <th scope="col">Unit_Price</th>
					  <th scope="col">Total</th>
					  <th scope="col"></th>
					  <th scope="col"></th>
					</tr>
				  </thead>
				</table>
			  </div>
			  <div class="tbl-content">
				<table cellpadding="0" cellspacing="0" border="0">
				  <tbody>
					{% for purchase_order_individal in purchase_order_individals %}
					<tr>
					  <td>{{ purchase_order_individal.item_id }}</td>
					  <td>{{ purchase_order_individal.item_name }}</td>
					  <td>{{ purchase_order_individal.quantity }}</td>
					  <td>{{ purchase_order_individal.unit_price }}</td>
					  <td>{{ purchase_order_individal.total_amt }}</td>
					  <td scope="row"><a class="btn btn-info btn-sm" href="{% url 'purchaseditem_update' purchase_order_individal.id %}">Edit</a></td>
					  <td scope="row"><a class="btn btn-danger btn-sm" href="{% url 'purchaseditem_delete'  purchase_order_individal.id %}">Delete</a></td>
					</tr>
					{% endfor %}
				  </tbody>
				</table>
				<div class="text-right">
					<form method="POST">
						<input type="text" value="{{each_total_amount}}" readonly/>
					</form>
				</div>
			  </div>
		</div>
	</div>
    {% comment %} <script>
        function add(){
            var new_chq_no = parseInt($('#total_chq').val())+1;
            var new_chq_no1 = parseInt($('#total_chq1').val())+1;
            var new_input="<input type='text' placeholder='name' id='new_"+new_chq_no+"'>";
            var new_input1="<input type='password' placeholder='psw' id='new_"+new_chq_no1+"'>";
            $('#new_chq').append(new_input);
            $('#new_chq1').append(new_input1);
            $('#total_chq1').val(new_chq_no1)
            $('#total_chq').val(new_chq_no)
          }
          function remove(){
            var last_chq_no = $('#total_chq').val();
            var last_chq_no1 = $('#total_chq1').val();
            if(last_chq_no>1){
              $('#new_'+last_chq_no).remove();
              $('#total_chq').val(last_chq_no-1);
            }
            if(last_chq_no1>1){
                $('#new_'+last_chq_no1).remove();
                $('#total_chq1').val(last_chq_no1 - 1);
              }
          }
    </script> {% endcomment %}
    {% comment %} <form method="post">
        {% csrf_token %}
        <div class="form-group text-right">
            <label>vendor</label>
            <select name= "vendors" class="form-select">
                {% for vendor in vendors  %}
                <option>{{vendor.vendor_id}}-{{vendor.vendor_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="card" style="width: 18rem;">
            <input type="text" name="name" placeholder="name">
            <input type="password" name="pswd" placeholder="psw">
            <input type="hidden" value="1" id="total_chq">
            <input type="hidden" value="1" id="total_chq1">
        </div>
        <div id="new_chq"></div><br />
        <div id="new_chq1"></div>
    </form>
        <button onclick="add()">Add</button>
        <button onclick="remove()">remove</button> {% endcomment %}


        {% comment %} <div class="form-group text-right">
            <label>vendor</label>
            <select name= "vend" class="form-select">
                {% for vendor in vendors  %}
                <option>{{vendor.vendor_id}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Add Items</h5> {% endcomment %}
                {% comment %} {% for item in items %}     {% endcomment %}
                {% comment %} <div class="form-group">
                    <label>ID</label><br />
                    <select name="i_id" class="form-select">
                        {% for item in items  %}
                        <option>{{item.item_id}}</option>
                        {% endfor %}
                    </select>
                    <label>Qty</label><br />
                    <input type="text" name="quantity" />
                    <label>Unit Price</label><br />
                    <input type="text" name="u_price" />
                    
                </div> {% endcomment %}
                {% comment %} {% endfor %} {% endcomment %}
            {% comment %} </div>
        </div> {% endcomment %}
</div>
<script>


</script>


{% endblock %}