{% extends 'partial/base.html' %}
{% block title %} Purchse Order Confirm PAGE {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <table>
                    <form method="POST">
                        {% csrf_token %}
                        <tr>
                            <td><label>Gross Total</label></td>
                            <td><input type="text" name="g_amount" value="{{total_amt}}" /><td />
                        </tr>
                        <tr>
                            <td><label>Discount</label></td>
                            <td><input type="text" name="discount" /></td>
                        </tr>
                        <tr>
                            <td><input class="btn btn-success btn-block" data-backdrop="static" type="submit" value="Confirm"></td>
                        </tr>   
                    </form>
                </table>                   
            </div>
        </div>
    </div>
</div>
{% endblock %}