{% extends 'partial/base.html' %}
{% block title %} HOME PAGE {% endblock %}
{% block content %}

{% if user.is_authenticated and user.is_staff and user.is_superuser %}
{% include 'partial/topnav_wm.html' %}


{% else %}
{% include 'dashboard/staff_index.html' %}
{% endif %}

<div style="margin-left:290px;margin-right:20px">
    <div class="row my-5">
        <div class="col-md-12">
            <div class="bg-white">
                <canvas id="myChart1" width="400" height="100">
                    <script>
                        const ctx1 = document.getElementById('myChart1').getContext('2d');
                        const myChart1 = new Chart(ctx1, {
                            type: 'bar',
                            data: {
                                labels: [{% for item in items %}'{{ item.name }}',{% endfor %}],
                                datasets: [{
                                    label: '',
                                    data: [{% for item in items %}'{{ item.qty_purchased }}',{% endfor %}],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)',
                                        'rgba(235, 99, 132, 1)',
                                        'rgba(53, 162, 235, 1)',
                                        'rgba(225, 206, 86, 1)',
                                        'rgba(65, 192, 192, 1)',
                                        'rgba(133, 102, 255, 1)',
                                        'rgba(235, 159, 64, 1)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)',
                                        'rgba(235, 99, 132, 1)',
                                        'rgba(53, 162, 235, 1)',
                                        'rgba(225, 206, 86, 1)',
                                        'rgba(65, 192, 192, 1)',
                                        'rgba(133, 102, 255, 1)',
                                        'rgba(235, 159, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    </script>
                </canvas>
                    
            </div>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div style="display:inline-flex;margin-bottom:20px">
            <input style="margin-right:10px;" type="date" name="start" class="form-control"> 
            <input type="date" name="end" class="form-control">
        </div>
        <input type="submit" class="btn btn-info" value="Filter" />
        
    </form>
    <div class="row my-5">
        <div class="col-md-6">
            <div class="input-group date">
                
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead class="tbl-header">
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">SO_ID</th>
                            <th scope="col">Gross_Amount</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for report in reports %}
                        <tr>
                            <td>{{ report.date }}</td>
                            <td>{{ report.so_number }}</td>
                            <td>{{ report.gross_amount }}</td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead class="tbl-header">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">SO_ID</th>
                        <th scope="col">Gross_Amount</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for report in reports_puchases %}
                    <tr>
                        <td>{{ report.date }}</td>
                        <td>{{ report.po_number }}</td>
                        <td>{{ report.gross_amount }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- graphs -->
<!-- --------------------filter using dates------------------- -->


{% endblock %}