<html>
    <table border="1" cellspacing="2" cellpadding="2">
          <tr>
            <th>Name</th> 
            <th>Category</th>
            <th>Quantity</th>
            <th>Pricr/Unit</th>
            <th>Total</th>
          </tr>
          {% for purchased_item in purchased_items %}
          <tr>
            <td>{{ purchased_item.name }}</td>
            <td>{{ purchased_item.category }}</td>
            <td>{{ purchased_item.quantity }}</td>
            <td>{{ purchased_item.unit_price }}</td>
            <td>{{ purchased_item.total_price }}</td>
          </tr>
          {% endfor %}
      </table>
</html>