{% extends 'partial/base.html' %}
{% block title %} STOCK PAGE {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated and user.is_superuser %}

{% else %}
{% include 'partial/topnav_staff.html'%}

<style>
	.avail {
		background-color: #2ba805;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        border: none;
        color: #eeeeee;
        cursor: pointer;
        display: inline-block;
        font-family: sans-serif;
        font-size: 18px;
        padding: 5px 33px;
        text-align: center;
        text-decoration: none;
      }
	  .re {
        background-color: #1c87c9;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        border: none;
        color: #eeeeee;
        cursor: pointer;
        display: inline-block;
        font-family: sans-serif;
        font-size: 18px;
        padding: 5px 33px;
        text-align: center;
        text-decoration: none;
      }
	  .not_avail {
        background-color: #1c87c9;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        border: none;
        color: #eeeeee;
        cursor: pointer;
        display: inline-block;
        font-family: sans-serif;
        font-size: 18px;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
      }
	  @keyframes glowing_re {
        0% {
          background-color: #CC6B0F;
          box-shadow: 0 0 5px #CC6B0F;
        }
        50% {
          background-color: #E7A763;
          box-shadow: 0 0 20px #E7A763;
        }
        100% {
          background-color: #CC6B0F;
          box-shadow: 0 0 5px #CC6B0F;
        }
      }
	  @keyframes glow_not {
        0% {
          background-color: #C03606;
          box-shadow: 0 0 5px #C03606;
        }
        50% {
          background-color: #EC421E;
          box-shadow: 0 0 20px #EC421E;
        }
        100% {
          background-color: #C03606;
          box-shadow: 0 0 5px #C03606;
        }
      }
	  .not_avail {
        animation: glow_not 500ms infinite;
      }
	  .re {
        animation: glowing_re 1300ms infinite;
      }
	  .edit{
		background: white;
		padding: 6px 12px;
		color: black;
		border: 1px solid;
		border-radius: 8px;
		text-decoration: none;
	  }
</style>
<div style="margin-left:290px;margin-right:20px">
	<div class="row my-4">

		<!-- modal begin -->
			<div>
				<script>
				$(document).ready(function() {
						$('#P_Add').modal('show');
				});
				</script>
			</div>

			<div class="modal fade" id="P_Add" tabindex="-1" role="dialog" aria-labelledby="P_AddTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLongTitle">Add Products</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form method="POST">
									{% csrf_token %}
									{{ form|crispy }}
									<input class="btn btn-success btn-block" data-backdrop="static" type="submit" value="Add">
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
			</div>
			<div class="col mt-4 text-right" style="margin-bottom:20px;">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#P_Add">
					<i class="fa fa-plus-circle" aria-hidden="true"></i>
					Add
				</button>
			</div>


			<div class="col-md-12">
				<div class="tbl-header">
					<table cellpadding="0" cellspacing="0" border="0">
						<thead>
						<tr>
							<th scope="col">Product_id</th>
							<th scope="col">Name</th>
							<th scope="col">Unit_Price</th>
							<th scope="col">Current Stock</th>
							<th scope="col">QTY_Sold</th>
							<th scope="col">Status</th>
							<th scope="col"></th>
						</tr>
						</thead>
					</table>
				</div>
				<div class="tbl-content">
					<table cellpadding="0" cellspacing="0" border="0">
						<tbody>
							{% for item in items %}
								<tr>
								<td>{{ item.item_id }}</td>
								<td>{{ item.name }}</td>
								<td>{{ item.unit_price }}</td>
								<td>{{ item.qty_purchased }}</td>
							<td>{{ item.qty_sold }}</td>
							{% if item.qty_purchased > 25 %}
							<td><button class="avail">Available</button></td>
							{% elif item.qty_purchased > 0 and item.qty_purchased < 25 %}
							<td><button class="re">Re Order</button></td>
							{% else %}
							<td><button class="not_avail">Not Available</button></td>
							{% endif %}
							<td scope="row"><a class="edit" href="{% url 'stock_update' item.id %}">
								<i class="fa fa-pencil" aria-hidden="true"></i>
								Edit
							</a></td>
							{% comment %} <td scope="row"><a class="btn btn-info btn-sm" data-toggle="modal" data-target="#viewVe-{{ vendor.id}}">View</a></td> {% endcomment %}
							{% comment %} <td scope="row"><a class="btn btn-danger btn-sm" href="{% url 'dashboard-vendor-delete' vendor.id %}">Delete</a></td> {% endcomment %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
	</div>
</div>


{% endif %}

{% endblock %}