	<!-- Topside -->
{% if user.is_authenticated %}
	<div class="mx-5">
        <div class="row mt-4">
            <div class="col-md-12">
				<div class="card">
					<div class="card-header bg-info text-white">
						STATICS
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-2">
								<a class="text-decoration-none text-dark" href="{% url 'stock' %}">
									<div class="card my-card shadow text-center p-3">
										<h6>STOCK <i style="color:#007bff;" class="fa fa-line-chart"></i></h6>
										<h3></h3>
									</div>
								</a>
							</div>
							<div class="col-md-2">
								<a class="text-decoration-none text-dark" href="{% url 'purchase' %}">
									<div class="card my-card shadow text-center p-3">
										<h6>PURCHASE <i style="color:#007bff;" class="fa fa-shopping-cart"></i></h6>
										<h3></h3>
									</div>
								</a>
							</div>
							<div class="col-md-2">
								<a class="text-decoration-none text-dark" href="{% url 'sales' %}">
									<div class="card my-card shadow text-center p-3">
										<h6>SALES <i style="color:#007bff;" class="fa fa-shopping-cart"></i></h6>
										<h3></h3>
									</div>
								</a>
							</div>
							<div class="col-md-2">
								<a class="text-decoration-none text-dark" href="{% url 'payment' %}">
									<div class="card my-card shadow text-center p-3">
										<h6>PAYMENTS(PURCHASE) <i style="color:#007bff;" class="fa fa-credit-card-alt"></i></h6>
										<h3></h3>
									</div>
								</a>
							</div>
							<div class="col-md-2">
								<a class="text-decoration-none text-dark" href="">
									<div class="card my-card shadow text-center p-3">
										<h6>PAYMENTS(SALES) <i style="color:#007bff;" class="fa fa-credit-card-alt"></i></h6>
										<h3></h3>
									</div>
								</a>
							</div>
							<div class="col-md-2">
								<a class="text-decoration-none text-dark" href="#">
									<div class="card my-card shadow text-center p-3">
										<h6>RETURNS <i style="color:#007bff;" class="fa fa-cart-arrow-down"></i></h6>
										<h3></h3>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        </div>
	</div>
{% else %}
<h1>hwllo</h1>
{% endif %}

	<!-- topside -->